*, *:before, *:after {
	box-sizing: border-box;
}

body {
	width: 100%;
	padding: 3em 0 1em 0;
	font-family: 'Helvetica', sans-serif;
	background-color: #eee;
}

h1, h2 {
	border-bottom: 1px solid #ddd;
}

h2, h3 {
	padding-top: 1em;
}

p {
	line-height: 1.5em;
	color: #444;
}

a {
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

.container {
	width: 80%;
	margin: auto;
	padding: 2em 3em;
	background-color: #f7f7f7;
	border-radius: 1em;
}

.code {
	padding: 1em;
	font-family: 'Courier', monospace;
	color: #444;
	background-color: #ddd;
	border-radius: 0.5em;
	line-height: 1em;
}

.code > em {
	color: #4486F8;
	padding-left: 2em;
	font-style: normal;
}

footer {
	padding-top: 2em;
	text-align: center;
}